.profil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.save-button-container button {
    background-color: var(--primary-color);
}

.full-width {
    margin-bottom:0;
}

.horizontal-bar {
    margin-left: 5%;
    margin-right: 5%;
}

.pwd-error {
    font-size: 10px;
}

.subscription-container h2 {
    display: flex;
    justify-content: center;
}

.user-subscriptions {
    display: flex;
    flex-wrap: wrap;
}

.topic-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: calc(25% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightgrey;
    border-radius: 5px;
}

.topic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.topic-content .topic-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.topic-content .topic-description {
    flex-grow: 1; 
}

.topic-content button {
    background-color: var(--primary-color);
    margin-top: 10px;
    align-self: center;
}

/* Ajustement pour les écrans plus petits */
@media (max-width: 768px) {
    .topic-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .topic-card {
        width: calc(100% - 20px);
    }
}
